*.o
*.mod
libsrc/**
local/
*~
results/**
data/**
cases/**
shots/**
div6/Makefile
out6/Makefile
eirene07/Makefile
eirene99/Makefile
rundiv
runout
div6/div6O*
out6/out6O*
eirene07/eirene
eirene99/eirene
triangle/showme
triangle/triangle
comsrc/sputter_old.f
