
        BODY { color:black; 
               background:white }

        A:link  { color:blue; 
                  text-decoration: none;
                  font-weight:normal}
                  
        A:active { color:green; 
                   text-decoration: none;
                   font-weight:bold}
                   
        A:visited{ color:red; 
                   text-decoration: none;
                   font-weight:normal}`
                   
	
	H1 { font-weight:bold;
             font-style:italic; 
             text-align:center;
             color:red }

	H2 { font-weight:bold;
             color:green}
	
	H3 { font-weight:bold;
	     color:crimson}
               

	.c1 { color:green;
	      font-weight:bold}

        .c2 { color:green;
              font-weight:bold;
              font-size:larger;
              font-style:italic; 
              text-align:center
              }
